body{
  background-color: pink;
  margin: 0;
 text-align: center;
 margin-bottom: 0;
 font-family: 'Lora', serif;
}
 .zero{
   background-color: #d3dbff;
   padding-top: 100px;
   position: relative;
 }
h1{
  margin-top: 0;
/*  width: 20%;
  margin:0 auto 0 auto;*/
  font-family: 'Dancing Script', cursive;
  font-size:5.625rem ;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}
h2{
  color: #66BFBF;
  font-family: 'Amatic SC', cursive;
}
h3{
  color: #11999E;
  font-family: 'Amatic SC', cursive;
  font-size:30px ;
  

}
.web{
  text-decoration: underline;

}
.oc{
  position: absolute;
  right: 70px;
 top: 20px;
}
.tc{
  position: absolute;
  bottom:200px;
  left:30px;
}
.circle{
  border-radius: 100%;
  width: 100px;
  height: 100px;
  text-align: left;
}
#me{
  text-align: left;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.ima{
  background-color: #d3dbff;
  margin: auto;
  height: 200px; width: 100%;


}
hr{
  width: 30%;
  border: none;
  border-top: 1px dotted;
  height: 5px; color: grey;
}
.p{
  font-size: 25px;


}
.y{
  font-size: 2.5rem;
  /*font-family: sans-serif;               -to change h2 back to normal*/
  font-weight: normal;
  /*line-height: 2;*/
}
.footer-link{
  color: #11999E;
}
.skill-row{
  width: 50%;
  margin: 50px auto;
  /*-align: left;*/
  line-height: 2;
}
.image{
  height: 5%; width: 5%;
  background-color: lightpink;
  border-radius: 100%;
}
